.title {
  font-weight: 700;
}

.subtitle {
  text-align: center;
  font-size: 16px;
}

.mainView {
  background-color: #0F141BB2;
  padding: 2% 4%;
}
.sliders{
  width: 50%;
}
.progressBar {
  height: 7px;
  width: 100%;
  background-color: #171F29;
  border-radius: 6px;
}
.chartImg{
  width: -webkit-fill-available !important;
}
@media screen and (max-width: 768px) {
  .sliders{
    width: 100%;
    margin-bottom: 50px;
  }
  .sliders p{
    font-size: 16px;
  }
}